services:
  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/coupleapp
      - JWT_SECRET=your_jwt_secret
      - REFRESH_SECRET=your_refresh_secret
    depends_on:
      - mongodb

volumes:
  mongodb_data:
